* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

.title-h1 {
  font: var(--title-lg);
  color: var(--gray-600);
}
.title-h2 {
  font: var(--title-md);
  color: var(--gray-600);
}
.title-h3 {
  font: var(--title-sm);
  color: var(--gray-600);
}
.txt-subtitle {
  font: var(--subtitle);
  color: var(--color-red);
}

.spantxt {
  color: var(--gray-500);
  font: var(--text-sm);
}

:root {
  /*Fonts*/
  --font-family: "Maven Pro", sans-serif;
  --font-title: "Asap", sans-serif;
  --font-subs: "Inconsolata", sans-serif;

  --title-lg: 700 56px/120% var(--font-title);
  --title-md: 700 24px/120% var(--font-title);
  --title-sm: 700 16px/120% var(--font-title);

  --subtitle: 400 20px/120% var(--font-subs);

  --text-md: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/140% var(--font-family);

  /*Cores*/
  --color-red: #e3646e;
  --color-purple: #bb72e9;
  --color-blue: #3996db;
  --color-green: #82bc4f;
  --color-yellow: #eabd5f;

  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;
}


body {
  color: var(--gray-400);
  font: var(--text-sm);
}


a {
  color: inherit;
  text-decoration: none;
}

