header {
  background: url(https://raw.githubusercontent.com/luzcaalmeida/Projeto-Final-02---PortfolioDev/bf5f56b1473d813e039869068727f00f13743175/assets/bgheader.png) lightgray 50% / cover no-repeat;
  padding: 120px 163px 57px;
  width: 100%;
}

#divprofile {
  margin-inline: auto;
  width: 1040px;

  #sec-profile {
    margin-inline: auto;
    display: flex;
    width: 680px;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    #codeico {
      position: absolute;
      width: 48px;
      height: 32px;
      bottom: 0;
      right: 0;
      object-fit: cover;
    }

    .circular-image {
      position: relative;
      width: 112px; /* Ajuste o tamanho conforme necessário */
      height: 112px; /* Ajuste o tamanho conforme necessário */
      border-radius: 50%;
      border: 2px solid var(--color-red); /* Cor e espessura da borda */
    }

    .circular-image img {
      border-radius: 50%;
      padding: 4px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #profinfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h1 {
        margin-block: 8px 20px;
      }
    }
  }
}

#tagsicon {
  margin-block: 80px 94px;
  display: flex;
  justify-content: center;

  gap: 16px;

  .tags {
    padding: 8px 16px;
    border-radius: 999px;

    display: flex;
    align-items: center;
    gap: 8px;

    background-color: var(--gray-300);
  }

  img {
    width: 32px;
    height: 32px;
  }

  a {
    font: var(--text-md);
  }
}

#arrowdown {
  text-align: center;
}
